@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(233,237,240,255);
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

.brand-name {
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 12, 1);
    float: left;
    padding: 20px 30px;
    font-family: 'Oswald' sans-serif;
}

.logo {
    color:rgba(243, 255, 255, 1);
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #02050c;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Oswald' sans-serif;
    }

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-links {
    font-family: 'Oswald', sans-serif;
    float: right;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
}

.navbar-links li {
    display: inline-block;
    margin-right: 40px;
    padding: 10px;
    line-height: 80px;
}
.navbar-links, a {
    color: rgba(243, 255, 255, 1);
    border-radius: 5px;
    padding: 5px 10px;
}
.active, a:hover {
    background-color:rgb(82, 82, 85);
}

.hero-outer{
    height: 80%;
    width:100%;
    position: relative;
    background-color: rgba(233,237,240,255);

}

.hero-image {
    background: url(../images/Hero-bjj.jpg) no-repeat center top ;
    width: 100%;
    background-size: 100%;
    height: 700px;
}

.hero-text {
    color: rgba(243, 255, 255, 1);
    text-align: center;
    background-color: rgb(79,79,81, 0.7);
}

.hero-text p {
    font-size: 150%;
}
.middle-container {
    position: relative;
    padding:100px;
    overflow: hidden;
    background-color: rgba(233,237,240,255);
}

.middle-container h2 {
    padding-bottom: 20px;
}
#text-top {
    text-align: center;
    margin: auto;
    width: 75%;
    padding-bottom: 100px;
    font-size: 150%;
}

#text-bottom 
{
margin: auto;
width: 75%;
text-align: center;
padding-bottom: 100px;
font-size: 150%;
}

#middle-image{
    display: block;
    
}

#middle-image img {
    width: 80%;
    border-radius: 30%;
    margin-left: 100px;
}

#benefits {
    width: 100%;
    text-align: center;
    background-color: rgba(233,237,240,255);
}

#benefit-header {
    display: block;
    padding: 30px;
    font-family: 'Oswald' sans-serif;
}

#benefits > div {
    display: inline-block;
    overflow-y: auto;
    padding: 5px;
}


.benefit-wrapper {

    background-color:rgb(82, 82, 85);
    border-radius: 10px;
    margin: 20px 20px;
    width: 20%;
    height: 500px;
    overflow: hidden;
    color: rgba(243, 255, 255, 1);
}

.benefit-block  {
    font-size: 120%;
}
.benefit-block h3 {
    font-family: 'Roboto', sans-serif;
    padding: 5px 0 10px 0;
    text-decoration: underline;
}

.banner {
    background-color: rgba(0, 0, 12, 1);
}
.social-links {
    text-align: center;
    bottom: 50px;
}
.social-links > li {
    display: inline;
    color:rgba(243, 255, 255, 1);
}
.social-links i {
    font-size: 160%;
    margin: 80px;
}
#meet-the-coach {
    background-color: rgba(233,237,240,255);
    font-size: 200%;
}

#meet-the-coach h1{
    text-align: center;
    padding: 50px;
    color: #16120f;
}

#coach-top {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;
    padding: 0 50px 0 20px;

}

.coach-right {
    display: inline-block;
}

.coach
{
    background: cover no-repeat center;
    width: 400px;
    height: 400px;
    padding: 10px 0 50px 200px;
}


#coach-bottom {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: center;
    padding: 0 50px 0 20px;
}

.line-break-coach {
    padding: 50px;
}

#time-loc {
    background-color: rgba(233,237,240,255);
}

#location {
    text-align: center;
    padding: 20px;
}

#timetable {
    overflow-x: auto;
    margin: 0 150px 50px 500px;
    padding: 0 0 5px 5px;;
}

table, td {
    border: 1px solid;
    padding: 20px;
}

.open-mat {
    background-color: #3c65c7;
}

.beginner {
    background-color: #5bc948;
}

.advanced {
    background-color: #642E9E;
}
.closed {
    background-color: #Adbbbb;
}

#contact-sect {
    text-align: center;
    padding: 60px;
    background-color: rgba(233,237,240,255);
}

#contact-details div {
    padding: 10px;
}

#form-sect {
    padding: 0 20px;
    background-color: rgba(233,237,240,255);
    margin-bottom: 20px;
}

.signup-form {
    margin: 20px 10% 0 0;
    color: rgba(243, 255, 255, 1);
    background-color: rgba( 0, 0, 12, 0.6);
    max-width: 500px;
    border: 5px solid black;
    display: grid;
    width: 100%;
    justify-content: center;
    border-radius: 5%;
    margin: 0 auto;
}
.signup-form h2 {
    text-align: center;
}
#name, #email, #message {
    line-height: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
    text-align: center;
}
#submit-btn {
    margin: 10px;
    background-color: #02050c;;
    color: #fff;
    border-radius: 5%;
}
#submit-btn:hover {
    background-color: rgb(82, 82, 85);
}

#feedback-center {
    background-color: rgba(233,237,240,255);
    height: 500px;
    text-align: center;
    font-size: 200%;
}

#feedback-center p{
    padding-top: 5%;
}


@media screen and (max-width:1320px){

    #coach-top, #coach-bottom {
        width: 80%;
        padding: 20px 80px;
    }

    .coach {
        padding-left: 500px;
    }
    .line-break-coach {
        padding: 25px;
    }
    
    #timetable {
    margin: 0 0 50px 150px;
}
}

@media screen and (max-width:1150px) {
    .coach{
        padding: 10px 0 50px 200px;
    }
    #timetable{
        margin: 0 0 50px 50px;
    }
    .hero-image {
        height: 500px;
    }

    #text-top, #text-bottom {
        font-size: 130%;
    }
}

@media  screen and (max-width:870px) {

       #benefits > div {
       width: 80%;
       }

       .coach {
        padding: 10px 0 50px 20px;
       }

       #meet-the-coach {
           font-size: 150%;
       }

       #meet-the-coach h1 {
           padding: 0;
       }
       #coach-top, #coach-bottom {
           padding-right: 0;
       }
       .hero-image {
           height: 450px;
       }
       #text-top, #text-bottom {
        font-size: 120%;
    }
    #timetable{
        margin: 0 0 20px 20px;
    }
}


@media screen and (max-width: 706px)
{
   .navbar .navbar-links {
       width: 100%;
       text-align: center;
   }

   .brand-name  {
     float: none;
     padding: 0px;
   }
   .navbar-links, a {
       padding: 0;
   }
   .hero-image {
       width: 100%;
       height: 400px;
   }

   .middle-container {
       padding: 0;
   }

   #middle-image {
       margin: 0 auto;
   }

   #benefits > div {
       width: 70%;
   }

   .social-links i {
    font-size: 120%;
    margin: 40px;
}
}



@media screen and (max-width: 544px) {
    .navbar .navbar-links {
        width: 100%;
        text-align: center;
    }

    .hero-outer {
        height: 260px;
    }

    #middle-image img {
        margin: 0 40px;
    }

    .hero-image {
        width: 100%;
        height: 350px;
    }
    #text-top, #text-bottom {
        font-size: 110%;
    }

    #meet-the-coach h1 {
        padding: 10px 0 10px 0;
    }
    .line-break-coach {
        padding: 0;
    }

    .coach {
        padding:10px 0;
        margin-left: 10px;
    }

    #coach-top, #coach-bottom {
        padding: 20px;
    }


    #coach-top, #coach-bottom {
        width: 80%;
    }

    #coach-big {
        width: 100%;
        height: 200px;
    }

    #coach-small {
        width: 200px;
        height: 300px;
    }
    #timetable {
        margin: 0;
    }
    #timetable {
        font-size: 80%;
    }
    
    #contact-sect {
        padding-top: 100px;
    }

 

}


@media screen and (max-width: 376px) {

    .hero-outer {
        height: 200px;
    }
    .navbar .navbar-links li {
        font-size: 80%;
        margin: 0;
    }
    #middle-image img {
        margin: 0 40px;
    }
    #meet-the-coach {
        font-size: 100%;
    }


    #text-top, #text-bottom {
        padding: 10px;
    }

    #coach-top, #coach-bottom {
        padding-right:0px;
    }

    #coach-big
    {
        margin-left: 5px;
        width:100%;
    }
    #coach-small {
        margin-left: 50px;
    }
    #timetable {
        padding: 0 0 5px 5px;
        font-size: 80%;
    }
}


@media  screen and (max-width: 280px) {
    .navbar .navbar-links {
        font-size: 80%;
}
.navbar-links li {
    margin: 5px;
}
.sticky {
    position: relative;
}

.social-links i {
    font-size: 100%;
    margin: 5px;
}

.hero-outer {
    height:150px;
}

#text-top, #text-bottom {
    font-size: 100%;
}

.benefit-block {
    font-size: 100%;
}

#meet-the-coach {
    padding-top: 20px;
}

#coach-big {
    margin-left: 5px;
}

#coach-small {
    margin-left: 5px;
    width: 150px;
    height: 250px;
}
#contact-sect {
    font-size: 80%;
    padding-left: 0;
}

}